/* You can add global styles to this file, and also import other style files */

$navbar-brand-logo: url('./assets/logo.png');
$navbar-brand-logo-size: 130px auto;

$navbar-brand-minimized-logo: url('./assets/logo-symbol.png');
@import "app/packages/coreui/src/style.scss";
